@model IEnumerable<CasoPracticoWeb.Entities.PuestosTrabajoEnt>

@{
    ViewData["Title"] = "Consultar PuestosTrabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">



<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3 ">
            <h6 class="m-0 font-weight-bold text-white">Lista de Postulaciones</h6>
        </div>
        <div class="card-body">
            <hr />
            <div class="row">
                <div class="col-sm-12">

                    @foreach (var item in Model)
                    {
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="..." class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.titulo)</h5>
                                        <p class="card-text">Datos Personales</p>
                                        <p class="card-text"><small class="text-body-secondary">ID empresa: @Html.DisplayFor(modelItem => item.idEmpresa)</small></p>
                                        <p class="card-text"><small class="text-body-secondary">Puesto de trabajo: @Html.DisplayFor(modelItem => item.titulo)</small></p>
                                        <p class="card-text"><small class="text-body-secondary">Descripcion: @Html.DisplayFor(modelItem => item.descripcion)</small></p>
                                        <p class="card-text"><small class="text-body-secondary">Requisitos: @Html.DisplayFor(modelItem => item.requisitos)</small></p>
                                        <p class="card-text"><small class="text-body-secondary">Fecha de publicacion: @Html.DisplayFor(modelItem => item.fechaPublicacion)</small></p>
                                        <p class="card-text"><small class="text-body-secondary">Fecha de cierre: @Html.DisplayFor(modelItem => item.fechaCierre)</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>





                    }

                </div>
            </div>
        </div>
    </div>
</div>



}