@model WebApp.Models.Solicitud

@{
    ViewData["Title"] = "Detalles de la Solicitud";
}

<div class="container mt-4">
    <h1>Detalles de la Solicitud</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPostulacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPostulacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPostulacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoPostulacion)
        </dd>
        <dt class="col-sm-2">
            Archivos
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var archivo in Model.Archivos)
                {
                    <li>@archivo.NombreArchivo</li>
                }
            </ul>
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdSolicitud" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
    </div>
</div>
