@model IEnumerable<CasoPracticoWeb.Entities.EmpresasEnt>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<section class="section__container job__container" id="job">
    <h2 class="section__header"><span>Empresas </span> Dísponibles</h2>
    <p class="section__description">
        Descubre las empresas a las que nuestro portal estan afiliados para asi
        poder descubrir nuevas oportunidades.
    </p>
    <a asp-controller="Empresas" asp-action="RegistrarEmpresas" class="btn">Nueva Empresa</a>
    <div class="job__grid">
        @foreach (var item in Model) {
            <div class="job__card">
                <div class="job__card__header">
                    <div>
                        <h5>@item.nombreEmpresa</h5>
                        <h6>@item.direccion</h6>
                    </div>
                </div>
                <p>
                    @item.descripcion
                </p>
                <div class="job__card__footer">
                    <span>@item.telefono</span>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Comentario" asp-action="RegistrarComentario" asp-route-id="@item.idEmpresa">Registrar Comentario</a>
                    <a class="btn btn-success btn-sm" href="@Url.Action("ConsultarComentario", "Comentario", new { idEmpresa = item.idEmpresa })">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</section>